<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<nav class="navbar navbar-default navbar-static-top navbar-inverse" style="margin: 0px;">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/"><%= locals.i18next.t('mainMenu', 'Main Menu')%></a>
      </li>
      <li>
        <a href="/student_list"><%= locals.i18next.t('studentList', 'Student List')%></a>
      </li>
      <li>
        <a href="/employee_list"><%= locals.i18next.t('employeeList', 'Employee List')%></a>
      </li>
      <li class="navbar-right">
        <% if(user) { %>
          <a>Welcome, <%= user%></a>
        <% } else { %>
          <a href="/login"><%= locals.i18next.t('Login', 'Login')%></a>
        <% } %>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <%= i18next.language %> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/change-language?lng=en">English</a></li>
          <li><a href="/change-language?lng=zh-Hant-TW">正體字</a></li>
          <!-- Add other languages as needed -->
        </ul>
      </li>
    </ul>
  </div>
</nav>
