<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>
<%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div style="font-size: xx-large">Welcome Admin</div>
</div>
<body>


<div class="container">

<div class="users">

  <table class="users-table">
    <thead>
      <tr>
        <th> ID </th>
        <th> Username </th>
        <th> User Type </th>
      </tr>
    </thead>
    <% Object.values(results).flat(1).forEach(function(entry) { %>
    <tr>
        <td><%= entry.id %></td>
        <td>
          <% if (entry.type === 3) { %>
            <a href="/student/<%= entry.id %>"><%= entry.username %></a>
          <% } else if (entry.type === 2) { %>
            <a href="/employee/<%= entry.id %>"><%= entry.username %></a>
          <% } else { %>
            <%= entry.username %>
          <% } %>
        </td>
        <td><%= entry.type %></td>
    </tr>
    <% }) %>
  </table>
  <form action="/admin/add" method="GET">
    <button type="submit">Add User</button>
  </form>
</div>

</div>

</body>
</html>
