<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<div class="jumbotron text-center">
  <div style="font-size: xx-large">Welcome Admin</div>
</div>
<body>


<div class="container">

<div class="users">
<form action="/admin/add" method="POST">
  <table class="users-table">
    <thead>
      <tr>
        <th> ID </th>
        <th> Username </th>
        <th> User Type </th>
      </tr>
    </thead>
    <% results.forEach(function(entry) { %>
    <tr>
        <td><%= entry.id %></td>
        <td>
          <%= entry.username %>
          <!-- <% if (entry.type === 2) { %>
            <a href="/student/<%= entry.id %>"><%= entry.username %></a>
          <% } else { %>
            <a href="/employee/<%= entry.id %>"><%= entry.username %></a>
          <% } %> -->
        </td>
        <td><%= entry.type %></td>
    </tr>
    <% }) %>
    <tr><td colspan="3"></td></tr>
    <tr><td></td>
      <td>Username</td>
      <td>Password</td>
      <td>Type</td>
    </tr>
    <tr>
      <td><%= results.length + 1 %></td>
      <td><input class="authfield" type="text" id="username" name="username" required></td>
      <td><input class="authfield" type="password" id="password" name="password" required></td>
      <td><select id="type" name="type">
        <option value="1">Admin</option>
        <option value="2">Teacher</option>
        <option value="3">Student</option>
      </select></td>
      <td><button type="submit">Add User</button></td>
    </tr>
  </table>
</form>
</div>

</div>

</body>
</html>
