<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>


<div class="container">

<div class="users">
  <table class="users-table">
    <thead>
      <tr>
        <th> ID </th>
        <th> Username </th>
        <th> User Type </th>
      </tr>
    </thead>
    <% results.forEach(function(entry) { %>
    <tr>
        <td><%= entry.id %></td>
        <td><%= entry.username %></td>
        <td><%= entry.type %></td>
    </tr>
    <% }) %>
    
    <tr>
      <td><%= results.length + 1 %></td>
      <td><input class="authfield" type="text" id="username" name="username" required></td>
      <td><input class="authfield" type="password" id="password" name="password" required></td>
      <td><select>
        <option value="1">Admin</option>
        <option value="2">Teacher</option>
        <option value="3">Student</option>
      </select></td>
      <td><button type="submit">Add User</button></td>
    </tr>
  </table>
</div>

</div>

</body>
</html>
