<!DOCTYPE html>
<html>
    <%- include ("../partials/header.ejs") %>
<head>
  <title>Student Info</title>
</head>
<%- include ("../partials/nav.ejs") %>
<div class="jumbotron text-center">
    <div style="font-size: xx-large">Student Info</div>
</div>
<body>
    
    <div style="text-align: left; font-size: xx-large; margin-top: 20px;">
        <%= studentInfo.surname %>, <%= studentInfo.given_name %>
    </div>
    <p style="margin-left: 20px;"><strong>Grade Level:</strong> <%= studentInfo.grade_level %></p>
    <div class="bio-box">
        <p><strong>Bio:</strong></p>
        <p><%= studentInfo.bio %></p>
    </div>
    <button id="button1">Monthly Tuition (WIP)</button>
    <button id="button2">Monthly Meal Cost (WIP)</button>
</body>
</html>
