<!DOCTYPE html>
<html>
    <%- include ("../partials/header.ejs") %>
    <%- include ("../partials/nav.ejs") %>
<head>
  <title>Student Info</title>
</head>
<div class="jumbotron text-center">
    <div style="font-size: xx-large"><%= locals.i18next.t('studentInfo','Student Info') %></div>
</div>
<body>
    
    <div style="text-align: left; font-size: xx-large; margin-top: 20px;">
        <%= locals.i18next.t(`studentInfo.${studentInfo.id}.surname`, '${studentInfo.surname}') %>, <%= i18next.t(`studentInfo.${studentInfo.id}.given_name`, '${studentInfo.given_name}') %>
    </div>
    <p style="margin-left: 20px;"><strong><%= i18next.t('GradeLevel', 'Grade Level:') %></strong> <%= studentInfo.grade_level %></p>
    <div class="bio-box">
        <p><strong><%= locals.i18next.t('Bio', 'Student Information:') %></strong></p>
        <p><%= locals.i18next.t(`studentInfo.${studentInfo.id}.bio`, '${studentInfo.bio}') %></p>
    </div>
    <form action="/edit-bio/<%= studentInfo.id %>" method="post">
        <label for="newBio"><strong><%= i18next.t('NewBio', 'New Student Information:') %></strong></label>
        <textarea id="newBio" name="newBio" rows="4" cols="50"><%= studentInfo.bio %></textarea>
        <br>
        <button type="submit">Save Changes</button>
    </form>
    <div style="width: 100%; margin-top: 20px;">
        <div style="float:left; width: 50%; padding: 10px">
            <table class="users-table" style="margin: auto; padding:5px">
                <thead>
                  <tr>
                    <th> Charge </th>
                    <th> Date </th>
                  </tr>
                </thead><% Object.values(tuitionResults).flat(1).forEach(function(entry) { %>
                <tr>
                    <td><%= entry.charge %></td>
                    <td><%= entry.date %></td>
                </tr>
                <% }) %></table>
            <button id="button1">Monthly Tuition (WIP)</button>
        </div>
        <div style="float:right;">
            <table class="users-table" style="margin: auto; padding:5px">
                <thead>
                  <tr>
                    <th> Charge </th>
                    <th> Date </th>
                  </tr>
                </thead><% Object.values(mealResults).flat(1).forEach(function(entry) { %>
                <tr>
                    <td><%= entry.charge %></td>
                    <td><%= entry.date %></td>
                </tr>
                <% }) %></table>
            <button id="button2">Monthly Meal Cost (WIP)</button>
        </div>
     </div>
     <div style="clear:both"></div>
    
</body>
</html>
